In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
excel_file='table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls'
df=pd.read_excel(excel_file)
df.head()

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3
4,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0

In [25]:
df.shape

(355, 13)

In [26]:
#We're gonna begin by cleaning up the top 4 rows + header.
columns=['City','Population','Violent Crime','Murder/Manslaughter','Rape','Rape Legacy','Robbery','Agg Assault',
           'Property Crime','Burgulary','Larceny','Motor_Vehicle Theft','Arson']

df.columns=columns
df[columns]=df[columns].replace(',', '', regex=True)
df.drop(df.head(4).index, inplace=True)
df_new=df.drop(['Rape', 'Arson'], axis=1)
df_new.head()

,City,Population,Violent Crime,Murder/Manslaughter,Rape Legacy,Robbery,Agg Assault,Property Crime,Burgulary,Larceny,Motor_Vehicle Theft
4,Adams Village,1861,0,0,0,0,0,12,2,10,0
5,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1
6,Akron Village,2846,3,0,0,0,3,16,1,15,0
7,Albany,97956,791,8,30,227,526,4090,705,3243,142
8,Albion Village,6388,23,0,3,4,16,223,53,165,5

In [27]:
df_new.dropna()

,City,Population,Violent Crime,Murder/Manslaughter,Rape Legacy,Robbery,Agg Assault,Property Crime,Burgulary,Larceny,Motor_Vehicle Theft
4,Adams Village,1861,0,0,0,0,0,12,2,10,0
5,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1
6,Akron Village,2846,3,0,0,0,3,16,1,15,0
7,Albany,97956,791,8,30,227,526,4090,705,3243,142
8,Albion Village,6388,23,0,3,4,16,223,53,165,5
9,Alfred Village,4089,5,0,0,3,2,46,10,36,0
10,Allegany Village,1781,3,0,0,0,3,10,0,10,0
11,Amherst Town,118296,107,1,7,31,68,2118,204,1882,32
12,Amityville Village,9519,9,0,2,4,3,210,16,188,6
13,Amsterdam,18182,30,0,0,12,18,405,99,291,15
14,Arcade Village,2053,0,0,0,0,0,39,3,35,1
15,Ardsley Village,4523,5,0,0,3,2,33,4,28,1
16,Asharoken Village,658,0,0,0,0,0,2,0,2,0
17,Attica Village,2522,2,0,0,0,2,5,0,4,1
18,Auburn,27270,96,1,20,22,53,859,132,721,6
19,Avon Village,3333,1,0,0,1,0,25,3,20,2
20,Baldwinsville Village,7473,5,0,0,1,4,88,10,77,1
21,Ballston Spa Village,5418,8,0,0,3,5,94,16,78,0
22,Batavia,15374,57,0,7,13,37,559,103,454,2
23,Bath Village,5733,15,0,1,3,11,191,32,157,2
24,Bedford Town,17627,5,0,0,1,4,156,26,127,3
25,Bethlehem Town,34243,13,0,0,3,10,442,50,388,4
26,Binghamton,46304,284,3,19,101,161,2349,525,1767,57
27,Black River,1410,0,0,0,0,0,14,2,12,0
28,Blooming Grove Town,12001,8,0,1,0,7,99,20,72,7
29,Bolivar Village,1022,1,0,0,0,1,4,2,2,0
30,Bolton Town,2325,2,0,0,0,2,24,4,20,0
31,Boonville Village,2054,1,0,0,0,1,20,6,14,0
32,Brant Town,2065,4,0,0,1,3,31,9,20,2
33,Brewster,2358,0,0,0,0,0,13,3,10,0
...,...,...,...,...,...,...,...,...,...,...,...
322,Tupper Lake Village,3642,3,0,0,0,3,83,22,59,2
323,Tuxedo Park Village,615,0,0,0,0,0,0,0,0,0
324,Ulster Town,12195,14,0,3,2,9,437,25,410,2
325,Utica,61686,361,7,27,102,225,2528,449,1997,82
326,Vestal Town,27980,16,0,2,6,8,571,39,523,9
327,Walden Village,6887,18,1,2,1,14,142,13,124,5
328,Wallkill Town,27940,40,0,3,16,21,767,91,650,26
329,Walton Village,3012,6,0,1,0,5,68,18,50,0
330,Warsaw Village,3453,6,0,1,0,5,78,5,73,0
331,Washingtonville Village,5828,2,0,0,1,1,58,5,51,2
332,Waterford Town and Village,8392,4,0,0,0,4,59,6,52,1
333,Waterloo Village,5175,11,0,0,3,8,194,23,169,2
334,Watertown,28179,109,0,12,16,81,1165,169,953,43
335,Watervliet,10245,26,1,3,11,11,242,58,163,21
336,Watkins Glen Village,1862,6,0,0,0,6,92,10,80,2
337,Waverly Village,4337,5,0,0,1,4,54,9,41,4
338,Webster Town and Village,43777,21,0,2,3,16,469,101,361,7
339,Weedsport Village,1797,0,0,0,0,0,25,5,20,0
340,Wellsville Village,4574,11,0,1,0,10,164,32,129,3
341,Westhampton Beach Village,1732,2,0,0,0,2,44,4,37,3
342,West Seneca Town,44821,35,1,1,9,24,896,166,710,20
343,Whitehall Village,2604,6,0,0,0,6,62,12,49,1
344,White Plains,57559,78,1,3,28,46,1232,77,1134,21
345,Whitesboro Village,3733,4,0,0,0,4,36,14,21,1
346,Whitestown Town,9141,0,0,0,0,0,77,13,61,3
347,Woodbury Town,10685,3,0,0,2,1,541,9,529,3
348,Woodridge Village,829,7,0,0,0,7,17,8,9,0
349,Woodstock Town,5931,2,0,0,0,2,58,13,45,0
350,Yonkers,199134,1036,6,25,390,615,2368,470,1662,236
351,Yorktown Town,36643,15,0,0,2,13,334,45,287,2

In [28]:
#Setting up the specification: Propertycrime=α+Population+Population2+Murder+Robbery
df_new['Population^2']=df_new['Population'].apply(float)**2
df_new['Murder_new']=np.where(df_new['Murder/Manslaughter'] > 0, 1, 0)
df_new['Robbery_new']=np.where(df_new['Robbery'].apply(float) > 0, 1, 0)
df_new.head()

,City,Population,Violent Crime,Murder/Manslaughter,Rape Legacy,Robbery,Agg Assault,Property Crime,Burgulary,Larceny,Motor_Vehicle Theft,Population^2,Murder_new,Robbery_new
4,Adams Village,1861,0,0,0,0,0,12,2,10,0,3.463321e+06,0,0
5,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,6.640929e+06,0,0
6,Akron Village,2846,3,0,0,0,3,16,1,15,0,8.099716e+06,0,0
7,Albany,97956,791,8,30,227,526,4090,705,3243,142,9.595378e+09,1,1
8,Albion Village,6388,23,0,3,4,16,223,53,165,5,4.080654e+07,0,1

In [30]:
#New df with just columns Population, Pop^2, Murder and Robbery (as revised)
df_new2=df_new[['City','Population','Population^2','Murder_new','Robbery_new']].copy()
df_new2.head()

                       City Population  Population^2  Murder_new  Robbery_new
4             Adams Village       1861  3.463321e+06           0            0
5  Addison Town and Village       2577  6.640929e+06           0            0
6             Akron Village       2846  8.099716e+06           0            0
7                    Albany      97956  9.595378e+09           1            1
8            Albion Village       6388  4.080654e+07           0            1